</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © 
    <% const todaysYear = new Date().getFullYear(); %>
    <%= todaysYear %>
  </p>
</footer>
</body>

</html>